.hero-section {
  background: url(../../assets/images/hero-section-bg.png) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* height: 600px; */
}

.hero-section .left-content {
  width: 650px;
  /* border: 1px solid red; */
  padding: 200px 0;
}

.hero-section .description {
  color: #666;
}

.hero-right-shapes1-container,
.hero-blobs-bg-container {
  /* border: 1px solid red; */
  position: absolute;
  bottom: -3px;
  right: 0;
}

.hero-blobs-bg-container {
  z-index: 2;
}
.hero-right-shapes1-container {
  z-index: 3;
}

.hero-blobs-bg-container .hero-blobs-bg,
.hero-blobs-bg-container img {
  width: 100%;
}

.hero-right-shapes1-container .hero-right-shapes1,
.hero-right-shapes1-container img {
  width: 100%;
}
