.droiddao-navbar {
  /* border: 1px solid red; */
  background: #333;
  display: block;
  position: relative;
  z-index: 999;
  /* opacity: 0.9; */
}
.droiddao-navbar .brandLogo {
  /* border: 1px solid red; */
  float: left;
  display: inline;
  padding: 8px;
}

.droiddao-nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.droiddao-nav li {
  /* border: 1px solid red; */
  float: left;
  position: relative;
}

.droiddao-nav .droiddao-nav-item a {
  color: #ffd216;
  text-decoration: none;
  padding: 25px 15px;
  display: block;
  border-bottom: 2px solid transparent;
}

.droiddao-nav .droiddao-nav-item a:hover {
  color: #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
}

.droiddao-subnav {
  display: none;
  width: 200px;
  position: absolute;
  top: 70px;
  background: #333;
  padding: 0;
  margin: 0;
  border: 1px solid #666666;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}
.droiddao-nav-item .dropdown-toggle {
  white-space: nowrap;
}

.droiddao-nav-item .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.droiddao-nav .droiddao-nav-item:hover .droiddao-subnav {
  display: block;
}

.droiddao-subnav li.droiddao-nav-item {
  display: block;
  width: 100%;
}

.droiddao-subnav li.droiddao-nav-item:not(:last-child) {
  border-bottom: 1px solid #666;
}

.droiddao-subnav li.droiddao-nav-item a {
  padding: 15px 15px;
  border-bottom: 0 !important;
}

.droiddao-subnav li.droiddao-nav-item a:hover {
  background: #666666;
  padding: 15px 15px;
}
