.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-size: 14px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

.droiddao-container {
  width: 1200px;
  margin: 0 auto;
}

.droiddao-nav .droiddao-nav-item a,
.droiddao-subnav,
.droiddao-subnav li.droiddao-nav-item a,
.footer-section__nav a {
  transition: all 200ms ease-in-out;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;

  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  text-transform: uppercase !important;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #444444;
  border-radius: 100px;
  background: hsl(0deg 0% 0% / 0.25);
  /* filter: blur(16px); */
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  /* background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  ); */
  background: #da6600;
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  /* padding: 12px 22px; */

  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #944500;
  background: linear-gradient(180deg, #ffd216 0%, #f2c405 100%);
  will-change: transform;
  box-shadow: inset 0px -2px 2px 1px #da6600;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* swiper */
.slider-controls {
  width: 100px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.slider-controls .prev-btn,
.slider-controls .next-btn {
  border: 1px solid #944500;
  color: #944500;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 54px;
  border-radius: 12px;
  cursor: pointer;
  background: #f9f9f9;
  float: left;
}
.slider-controls .prev-btn:hover,
.slider-controls .next-btn:hover {
  background: #ffd216;
  border: 1px solid #ffd216;
}
.slider-controls .prev-btn {
  margin-right: 7px;
}
.live-projects-swiper,
.closed-projects-swiper {
  padding-bottom: 25px;
}

/* mui overwrites */

.MuiFormControl-root .MuiInputLabel-root.Mui-focused {
  color: #e65100;
}
.MuiTextField-root .MuiFilledInput-root:after {
  border-bottom: 2px solid #e65100;
}
.MuiButton-endIcon {
  margin-left: 0;
}

.MuiButton-root.MuiButton-text {
  color: #e65100;
}
